# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science  
- List commonly used libraries  
- Demonstrate arithmetic expressions in Python  
- Create tables using Markdown  
- Share notebooks via GitHub

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Scikit-learn  
4. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [34]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [36]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author  
Lara Mart√≠